{% extends "layout.html" %}
{% block title %} index {% endblock %}
{% block main %}
<h1>Welcome to Your Ultimate Quizzing Destination</h1>
<img src="/static/image.jpg" class="img" alt=""><br>
<h2>Engage. Learn. Enjoy.</h2>
<div class="text">
<H3>
Key Features:</H3>
<b>Explore Diverse Topics:</b> Choose from a vast array of quiz categories. <br>
<b>Challenge Yourself:</b> Test your knowledge and compete with others. <br>
<b>Track Your Progress:</b> Monitor your performance and improvement. <br>
<b>Create & Share:</b> Craft your quizzes and share them with friends. <br></div>
<div><h3>Get Started:</h3>
<a href="/tests"><button>Take a Quiz Now</button></a>
<a href="/test/create/"><Button>Create Your Own Quiz</Button></a>
<a href="/tests"><Button>Explore Categories</Button></a></div>
<div>
<h3>Why Choose Testeefy?</h3>
<b>Interactive Quizzes:</b> Engaging formats to make learning fun.<br>
<b>Community Engagement:</b> Join a network of quiz enthusiasts.<br>
<b>Personalized Learning:</b> Adapted quizzes based on your interests.<br>
<b>Accessibility:</b> Available anytime, anywhere, on any device.<br>
</div>


{% endblock %}
